[user]
	name = Anton Serdyuk
	email = anton.serdyuk@gmail.com
[alias]
        st = status
        cm = commit
        br = branch
        co = checkout
        df = diff
        lg = log -p
	graph = log --graph --decorate --all --pretty=format:\"%C(yellow)%t %C(cyan)%ai %Cgreen%aN %C(white)%s\"
[core]
	editor = vim
        excludesfile = ~/.gitignore_global
[color]
	ui = true
