[user]
	name = Anton Serdyuk
	email = anton.serdyuk@itstartuplabs.com
[alias]
        st = status
        cm = commit
        br = branch
        co = checkout
        df = diff
        lg = log -p
	graph = log --graph --decorate --all
[core]
	editor = vim
        excludesfile = ~/.gitignore_global
[color]
	ui = true
